a {
  text-decoration: none;
  color: inherit; 
  display: inline-flex;
  padding-left: 10px;
}

.header {
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  height: 80px;
  background-color: #210535;
  z-index: 100; 
}


/* ------ left ------ */
.left-section {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  gap: 10px; 
}

.brand-logo {
  height: 100%; 
  margin-left: 5px;
}

.brand-name {
  font-family: 'Neon Future 2.0 Demo';
  font-size: 20px;
  display: flex;
  align-items: center; 
  margin-left: 5px;
}

.brand-slogan {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5; 
  margin-left: 10px;
  margin-top: 20px;
}

/* ------ middle ------ */
.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.search-bar {
  flex: .9;
  height: 43px;
  font-size: 14px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
  font-size: 14px;
}
.search-button {
  height: 43px;
  width: 45px;
  background-color: #ffde59;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: -2px;
  margin-right: 10px;
  cursor: pointer;
}
.search-icon {
  font-size: 22px;
}


/* ------ right ------ */
.right-section {
  display: flex;
  flex: .5;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 30px;
}
.icon-text-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.header-icons {
  position: relative; 
  font-size: 28px;
  margin-right: 6px;
}
.header-text {
  font-size: 16px;
}
.cart-quantity {
  position: absolute;
  top: -13px; 
  right: 5px; 
  height: 15px; 
  width: 15px; 
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffde59;
  color: #210535;
  font-weight: 700;
  border-radius: 50%; 
  font-size: 10px;
}